$no0: #030408;
$no1: #05070D;
$no2: #0A0E1A;

$re0: #F24848;
$re1: #631F21;
$re2: #331215;

$gr0: #30F291;
$gr1: #15633F;
$gr2: #0C3423;

$ye0: #F2D230;
$ye1: #635618;
$ye2: #332D10;

$bl0: #3061F2;
$bl1: #152966;
$bl2: #0C1737;

$pu0: #A130F2;
$pu1: #421666;
$pu2: #230D37;

$cy0: #29BECC;
$cy1: #124E56;
$cy2: #0B292F;

$wh0: #898D99;
$wh1: #393B42;
$wh2: #1E2025;

$me0: #4D5A80;
$me1: #212638;
$me2: #0D1120;

$or0: #F23D18;
$or1: #631B0E;
$or2: #330F0B;
