  @define-color no0 #030408;
  @define-color no1 #05070D;
  @define-color no2 #0A0E1A;

  @define-color re0 #F24848;
  @define-color re1 #631F21;
  @define-color re2 #331215;

  @define-color gr0 #30F291;
  @define-color gr1 #15633F;
  @define-color gr2 #0C3423;

  @define-color ye0 #F2D230;
  @define-color ye1 #635618;
  @define-color ye2 #332D10;

  @define-color bl0 #3061F2;
  @define-color bl1 #152966;
  @define-color bl2 #0C1737;

  @define-color pu0 #A130F2;
  @define-color pu1 #421666;
  @define-color pu2 #230D37;

  @define-color cy0 #29BECC;
  @define-color cy1 #124E56;
  @define-color cy2 #0B292F;

  @define-color wh0 #898D99;
  @define-color wh1 #393B42;
  @define-color wh2 #1E2025;

  @define-color me0 #4D5A80;
  @define-color me1 #212638;
  @define-color me2 #0D1120;

  @define-color or0 #F23D18;
  @define-color or1 #631B0E;
  @define-color or2 #330F0B;
